:root {
  font-family: "Inter", sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  background-color: #f6f8fa;
}

.header {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 0 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ffffff;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 9999px;
  border-width: 1px;
  border-color: #e5e7eb;
}

.header button:hover {
  background-color: #f3f4f6;
  color: #1d4ed8;
  cursor: pointer;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  border: 2px solid green;
  height: min-content;
  padding: 5% 5%;
}

.card-book {
  border: 2px solid blue;
  height: min-content;
  padding: 0px 24px 1.3em;
  border: 2px solid rgb(229 231 235);
  border-radius: 0.5rem;
}

.card-book h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
}

.card-book p {
  font-weight: 400;
  color: rgb(55 65 81);
}

.delete-button {
  margin-top: 1.33em;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #b91c1c;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(229 231 235);
  border-style: solid;
}

.delete-button:hover {
  background-color: #991B1B; 
  cursor: pointer;
}

/* Modal */
.modalBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: min-content;
  padding: 1.3rem;
  height: min-content;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.modalHidden {
  display: none;
}

.modalBook .flex-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalBook p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

.modalBook button {
  cursor: pointer;
  border: none;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

/* Form */
.form-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.book-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.book-input {
  display: block;
  padding: 0.625rem;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 450px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #d1d5db;
  border-style: solid;
}

.book-input:focus {
  outline-color: #3b82f6;
}

.input-check-flex {
  display: flex;
  gap: 15px;
}

.check-flex {
  display: flex;
  align-items: center;
}

.book-check {
  background-color: #f3f4f6;
  color: #2563eb;
  width: 1rem;
  height: 1rem;
  border-color: #d1d5db;
}

.book-check-label {
  margin-left: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
